{{#each this}}
  <li class='hero__item' data-id='{{id}}'>
    <div class='hero__box average__position'>
      <img
        class='hero__image'
        src='{{this.poster_path}}'
        alt='{{title}}'
        data-src='{{id}}'
      />

    </div>
    <div class='about__film'>
      <h2 class='hero__title' data-hero='{{id}}'> {{title}}</h2>
      <p class='hero__description-list' data-list='{{id}}'>
        <span class='hero__genres' data-genres='{{id}}'>
          {{#each genre_ids}}
            {{this}}{{#unless @last}}, {{/unless}}
          {{/each}}
          |
        </span>
        <span class='hero__release' data-genres='{{id}}'>
          {{release_date}}
        </span>
        <span class='parameter_value-block'>
          <span class='parameter__value' data-vote='{{id}}'>
            {{vote_average}}
          </span>
        </span>
      </p>
      {{!-- <div class='hero__description'>
        <ul class='hero__description-list' data-list='{{id}}'>
          <li class='hero__description-item'>
            <span class='hero__genres' data-genres='{{id}}'>
              {{#each genre_ids}}
                {{this}}{{#unless @last}}, {{/unless}}
              {{/each}}
              |
            </span>
          </li>
          <li class='hero__description-item'>
            <span class='hero__release' data-genres='{{id}}'>
              {{release_date}}
            </span>
          </li>
          <li class='hero__description-item'>
            <span class='parameter_value-block'>
              <span
                class='parameter__value'
                data-vote='{{id}}'
              >{{vote_average}}</span></span>
          </li>
        </ul>
      </div> --}}
    </div>
  </li>
{{/each}}