{{#each this}}
  <li class='hero__item' data-id='{{id}}'>
    <div class='hero__box average__position'>
      <img
        class='hero__image'
        src="https://api.themoviedb.org/3/movie/507086/images?api_key=df75de766bc216630e148042dff14934&language=en-US"
        alt='{{title}}'
        data-src='{{id}}'
      />

    </div>
    <div class='about__film'>
      <h2 class='hero__title'> {{title}}</h2>
      <div class='hero__description'>
        <ul class='hero__description--list'>
          <li class='hero__description--Item'>
           
              <span class='hero__genres'>{{genre_ids}}</span>
              
              <span class='symbol'>,</span>
              <span
                class='parameter__value parameter__position'
              >{{vote_average}}</span>
          </li>
          <li class='hero__description--Item'>
            <p class='hero__date'>{{release_date}}</p>
          </li>
        </ul>
      </div>
    </div>
  </li>
{{/each}}