{{#each this}}
  <li class='hero__item' data-id='{{id}}'>
    <div class='hero__box average__position'>
      <img
        class='hero__image'
        src={{poster}}
        alt='{{title}}'
        data-src='{{id}}'
      />

    </div>
    <div class='about__film'>
      <h2 class='hero__title'>{{title}}</h2>
      <div class='hero__description'>
        <ul class='hero__description--list'>
          <li class='hero__description--Item'>
            {{#each genres_type}}
              <span class='hero__genres'>{{this}}</span>
              <span class='symbol'>,</span>
              <span
                class='parameter__value parameter__value parameter__position'
              >{{vote_average}}</span>{{/each}}
          </li>
          <li class='hero__description--Item'>
            <p class='hero__date'>{{date}}</p>
          </li>
        </ul>
      </div>
    </div>
  </li>
{{/each}}