<li class='hero__item' data-id='{{id}}'>
    <div class='hero__box average__position'>
        <img class='hero__image' src="https://image.tmdb.org/t/p/w500/"
            alt='{{this.original_title}}' data-src='{{id}}' />

    </div>
    <div class='about__film'>
        <h2 class='hero__title'>{{title}}</h2>
        <div class='hero__description'>
            <ul class='hero__description--list'>
                <li class='hero__description--Item'>

                    <span class='hero__genres'>{{#each this.genres}}{{this.name}}{{#unless @last}}, {{/unless}}{{/each}}
                    </span>

                    {{!-- <span class='symbol'>,</span> --}}

                </li>
                <li class='hero__description--Item'>
                    <p class='hero__date'> | {{release_date}}</p>
                    <span class='parameter__value parameter__position'>{{vote_average}}</span>
                </li>
            </ul>
        </div>
    </div>
</li>
